In [40]:
import timeit
import pickle
import numpy as np
import pandas as pd

In [41]:
datasetName = "airbnb"

In [97]:
numberofSample = 1000

In [115]:
dataset = pd.read_csv(r'data/imdb.csv', nrows=numberofSample)
dataset.columns = ['id','name','year','rating','votes','certificate','runtime','genre','metascore','more','director','actor1','actor2',
        'actor3','actor4','collection']

In [116]:
lst_col = 'genre' 

dataset = dataset.assign(**{lst_col:dataset[lst_col].str.split(',').apply(lambda x: x[0]) })

In [117]:
dataset

,id,name,year,rating,votes,certificate,runtime,genre,metascore,more,director,actor1,actor2,actor3,actor4,collection
0,1,The Shawshank Redemption,1994,9.3,"2,603,314",15,142 min,Drama,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,$28.34M
1,2,The Godfather,1972,9.2,"1,798,731",X,175 min,Crime,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,$134.97M
2,3,The Dark Knight,2008,9.0,"2,574,810",12A,152 min,Action,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,$534.86M
3,4,The Lord of the Rings: The Return of the King,2003,9.0,"1,787,701",12A,201 min,Action,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,$377.85M
4,5,Schindler's List,1993,9.0,"1,323,776",15,195 min,Biography,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,$96.90M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Sabrina,1954,7.6,"64,498",U,113 min,Comedy,72.0,A playboy becomes interested in the daughter o...,Billy Wilder,Humphrey Bogart,Audrey Hepburn,William Holden,Walter Hampden,NaN
996,997,From Here to Eternity,1953,7.6,"46,804",PG,118 min,Drama,85.0,"At a U.S. Army base in 1941 Hawaii, a private ...",Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,$30.50M
997,998,Snow White and the Seven Dwarfs,1937,7.6,"196,361",A,83 min,Animation,95.0,Exiled into the dangerous forest by her wicked...,William Cottrell,David Hand,Wilfred Jackson,Larry Morey,Perce Pearce,$184.93M
998,999,The 39 Steps,1935,7.6,"56,586",A,86 min,Crime,93.0,A man in London tries to help a counter-espion...,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,NaN
999,"1,000.00",The Invisible Man,1933,7.6,"34,632",A,71 min,Horror,87.0,"A scientist finds a way of becoming invisible,...",James Whale,Claude Rains,Gloria Stuart,William Harrigan,Henry Travers,NaN

In [118]:
dataset[dataset["year"]=='1937'].head(1)['id']

327    328
Name: id, dtype: object

In [119]:
def queryPredicate(dataset,predicateMap):
    if len(predicateMap) == 0:
        result = dataset.head(1)['id']
        return result
    for predicate, value in predicateMap.items():
        dataset = dataset[dataset[predicate]==value]
    result = (dataset.head(1)['id'],dataset.head(1)['name'])
    return result

In [120]:
########################################### no predicate ################################################
predicateMap = []
Test_case = 10
rtime = 0
for i in range(Test_case):
    start = timeit.default_timer()
    QueryPredicate(dataset,predicateMap)
    end = timeit.default_timer()
    rtime = rtime + end - start
print('runtime = ',rtime/Test_case)

runtime =  0.00013856999994459328

In [121]:
########################################### one predicate ################################################

predicateMap = []
Test_case = [{'year':'2000'},{'year':'2001'},{'year':'2003'},{'year':'2004'},{'year':'2005'},{'year':'2006'},
            {'year':'2007'},{'year':'2008'},{'year':'2008'},{'year':'2009'},{'year':'2009'},{'year':'2010'}]
rtime = 0
for predicateMap in Test_case:
    print(predicateMap)
    start = timeit.default_timer()
    r = queryPredicate(dataset,predicateMap)
    end = timeit.default_timer()
    print(r)
    rtime = rtime + end - start
print('runtime = ',rtime/len(Test_case))

{'year': '2000'}
(43    44
Name: id, dtype: object, 43    Gladiator
Name: name, dtype: object)
{'year': '2001'}
(12    13
Name: id, dtype: object, 12    The Lord of the Rings: The Fellowship of the Ring
Name: name, dtype: object)
{'year': '2003'}
(3    4
Name: id, dtype: object, 3    The Lord of the Rings: The Return of the King
Name: name, dtype: object)
{'year': '2004'}
(104    105
Name: id, dtype: object, 104    Eternal Sunshine of the Spotless Mind
Name: name, dtype: object)
{'year': '2005'}
(158    159
Name: id, dtype: object, 158    My Father and My Son
Name: name, dtype: object)
{'year': '2006'}
(40    41
Name: id, dtype: object, 40    The Prestige
Name: name, dtype: object)
{'year': '2007'}
(101    102
Name: id, dtype: object, 101    Like Stars on Earth
Name: name, dtype: object)
{'year': '2008'}
(2    3
Name: id, dtype: object, 2    The Dark Knight
Name: name, dtype: object)
{'year': '2008'}
(2    3
Name: id, dtype: object, 2    The Dark Knight
Name: name, dtype: object)
{'year': '2009'}
(71    72
Name: id, dtype: object, 71    3 Idiots
Name: name, dtype: object)
{'year': '2009'}
(71    72
Name: id, dtype: object, 71    3 Idiots
Name: name, dtype: object)
{'year': '2010'}
(9    10
Name: id, dtype: object, 9    Inception
Name: name, dtype: object)
runtime =  0.0009210083333831184

In [124]:
########################################### two predicate ################################################

predicateMap = []
Test_case = [{'year':'2000','genre':'Drama'},{'year':'2001','genre':'Crime'},{'year':'2003','genre':'Horror'},{'year':'2004','genre':'Sci-fi'},{'year':'2005'},{'year':'2006'},
            {'year':'2007','genre':'Comedy'},{'year':'2008','genre':'Drama'},{'year':'2008','genre':'Sci-fi'},{'year':'2011','genre':'Animation'},{'year':'2009','genre':'Drama'},{'year':'2010','genre':'Sci-fi'}]
rtime = 0
for predicateMap in Test_case:
    print(predicateMap)
    start = timeit.default_timer()
    r = queryPredicate(dataset,predicateMap)
    end = timeit.default_timer()
    print(r)
    rtime = rtime + end - start
print('runtime = ',rtime/len(Test_case))

{'year': '2000', 'genre': 'Drama'}
(107    108
Name: id, dtype: object, 107    Requiem for a Dream
Name: name, dtype: object)
{'year': '2001', 'genre': 'Crime'}
(819    820
Name: id, dtype: object, 819    Ocean's Eleven
Name: name, dtype: object)
{'year': '2003', 'genre': 'Horror'}
(Series([], Name: id, dtype: object), Series([], Name: name, dtype: object))
{'year': '2004', 'genre': 'Sci-fi'}
(Series([], Name: id, dtype: object), Series([], Name: name, dtype: object))
{'year': '2005'}
(158    159
Name: id, dtype: object, 158    My Father and My Son
Name: name, dtype: object)
{'year': '2006'}
(40    41
Name: id, dtype: object, 40    The Prestige
Name: name, dtype: object)
{'year': '2007', 'genre': 'Comedy'}
(493    494
Name: id, dtype: object, 493    Jab We Met
Name: name, dtype: object)
{'year': '2008', 'genre': 'Drama'}
(239    240
Name: id, dtype: object, 239    Gran Torino
Name: name, dtype: object)
{'year': '2008', 'genre': 'Sci-fi'}
(Series([], Name: id, dtype: object), Series([], Name: name, dtype: object))
{'year': '2011', 'genre': 'Animation'}
(Series([], Name: id, dtype: object), Series([], Name: name, dtype: object))
{'year': '2009', 'genre': 'Drama'}
(149    150
Name: id, dtype: object, 149    The Secret in Their Eyes
Name: name, dtype: object)
{'year': '2010', 'genre': 'Sci-fi'}
(Series([], Name: id, dtype: object), Series([], Name: name, dtype: object))
runtime =  0.0012698000001970893

In [130]:
########################################### three predicate ################################################

predicateMap = []
Test_case = [{'year':'2000','genre':'Drama','certificate':'PG'},{'year':'2001','genre':'Comedy','certificate':'PG'},
             {'year':'2003','genre':'Horror','certificate':'15'},{'year':'2004','genre':'Sci-fi','certificate':'A'},
             {'year':'2005','genre':'Crime','certificate':'A'},{'year':'2006','genre':'Crime','certificate':'PG'},
            {'year':'2007','genre':'Comedy','certificate':'PG'},{'year':'2008','genre':'Drama','certificate':'U'},
             {'year':'2008','genre':'Sci-fi','certificate':'PG'},{'year':'2009','genre':'Animation','certificate':'PG'}]
rtime = 0
for predicateMap in Test_case:
    print(predicateMap)
    start = timeit.default_timer()
    r = queryPredicate(dataset,predicateMap)
    end = timeit.default_timer()
    print(r)
    rtime = rtime + end - start
print('runtime = ',rtime/len(Test_case))

{'year': '2000', 'genre': 'Drama', 'certificate': 'PG'}
(393    394
Name: id, dtype: object, 393    In the Mood for Love
Name: name, dtype: object)
{'year': '2001', 'genre': 'Comedy', 'certificate': 'PG'}
(256    257
Name: id, dtype: object, 256    Dil Chahta Hai
Name: name, dtype: object)
{'year': '2003', 'genre': 'Horror', 'certificate': '15'}
(Series([], Name: id, dtype: object), Series([], Name: name, dtype: object))
{'year': '2004', 'genre': 'Sci-fi', 'certificate': 'A'}
(Series([], Name: id, dtype: object), Series([], Name: name, dtype: object))
{'year': '2005', 'genre': 'Crime', 'certificate': 'A'}
(Series([], Name: id, dtype: object), Series([], Name: name, dtype: object))
{'year': '2006', 'genre': 'Crime', 'certificate': 'PG'}
(Series([], Name: id, dtype: object), Series([], Name: name, dtype: object))
{'year': '2007', 'genre': 'Comedy', 'certificate': 'PG'}
(493    494
Name: id, dtype: object, 493    Jab We Met
Name: name, dtype: object)
{'year': '2008', 'genre': 'Drama', 'certificate': 'U'}
(Series([], Name: id, dtype: object), Series([], Name: name, dtype: object))
{'year': '2008', 'genre': 'Sci-fi', 'certificate': 'PG'}
(Series([], Name: id, dtype: object), Series([], Name: name, dtype: object))
{'year': '2009', 'genre': 'Animation', 'certificate': 'PG'}
(503    504
Name: id, dtype: object, 503    Fantastic Mr. Fox
Name: name, dtype: object)
runtime =  0.0025064600000405334